{% extends 'base.html' %}
{% block content %}
<div class="wrapper col5">
  <div id="container">
  <h3>About Car Sales and Service System</h3>
  <p>Digitization is causing major transformational pressure in sales and after sales services. There have never been so many ways to focus on customers and offer them tailored services before, during and after their purchasing decision. Whether the object in question is a car, manufacturing plant or wind turbine, sales and after sales processes must always focus on the customer if they are to achieve and maintain a consistently high level of satisfaction. Digitizing value chains opens up an entirely new dimension of customer interaction. This applies to plant engineers and operators, as well as to car manufacturers and dealers.</p>
  <p>When the customer is present in the showroom, innovative and above all situation-specific forms of dialog are required. Information and offers in real time with no delay are crucial to the sales and after sales service. However, mobile solutions not only play a part in the process of purchasing automobiles – industry also benefits from this trend and is able to build on it. For example, operators of plants and machines can use remote access and mobile control to conduct complex maintenance activities. Real-time support employing digital documentation is the central issue for sales and after sales services and the key to success. The range of new opportunities can be extended almost at will, and T-Systems offers consulting services that will ensure the digital transformation is successful.</p> 

  <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      <li>Etiam vel sapien et est adipiscing commodo.</li>
      <li>Duis pharetra eleifend sapien, id faucibus dolor rutrum et.</li>
      <li>Donec et dui dolor, in lacinia leo.</li>
      <li>Mauris posuere tellus ac purus adipiscing dapibus.</li>
    </ul>
    <p>Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna neque sed quis orci nulla. Laoremut vitae doloreet condimentumst phasellentes dolor ut a ipsum id consectetus. Inpede cumst vitae ris tellentesque fring intesquet nibh fames nulla curabitudin.</p>
    <ol>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      <li>Etiam vel sapien et est adipiscing commodo.</li>
      <li>Duis pharetra eleifend sapien, id faucibus dolor rutrum et.</li>
      <li>Donec et dui dolor, in lacinia leo.</li>
      <li>Mauris posuere tellus ac purus adipiscing dapibus.</li>
    </ol>
  </div>
</div>
{% endblock content %}

