{% extends 'base.html' %} {% block content %}
<br class="clear" />
<div class="wrapper col3"></div>
<div class="wrapper col4">
  <div id="services">
  <h3>Car Sales System Dashboard</h3>
    <ul class="my-menu">
        <li><a href="/product/product-add">Add Car</a></li>
        <li><a href="/sales/add">Add Customer</li>
        <li><a href="/product/product-record">Cars Details</a></li>
        <li><a href="/sales">Car Sales Details</a></li>
        <li><a href="/users/changepassword">Change Password</a></li>
        <li><a href="/users/logout" class="last">Logout</a></li>
    </ul>
    <br class="clear" />
  </div>
</div>
<br class="clear" /><br class="clear" />
{% endblock content %}
